# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: ee319b105bba    #eb6c3752ea78

[temperature_sensor EBB]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

[resonance_tester]
probe_points: 0, 0, 200
accel_chip: adxl345

[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 4.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan: PA3
control: pid
pid_Kp: 13.593
pid_Ki: 0.517
pid_Kd: 89.379
min_temp: 0
max_temp: 300
max_extrude_cross_section: 50
max_extrude_only_distance: 1000
pressure_advance: 0.02
pressure_advance_smooth_time: 0.040

# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.7
sense_resistor = .110
interpolate: True
stealthchop_threshold: 999999

[fan]
pin: EBBCan: PA1

[heater_fan hotend_fan]
pin: EBBCan: PA0
heater: extruder
heater_temp: 50.0

[output_pin LED_Hotend]
pin: EBBCan:PB3
pwm: false
shutdown_value: 0
value: 0

[neopixel vendetta_leds]
pin: EBBCan:PD3
chain_count: 4
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. 1-3 in the logo and 4 at the lower shroud for nozzle.
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0

   
[probe]
pin: ^EBBCan:PB8
x_offset: 0
y_offset: 0
z_offset: 16
speed: 10
lift_speed: 50
samples: 5
samples_result: average
sample_retract_dist: 6
samples_tolerance: 0.02
samples_tolerance_retries: 5

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

[filament_switch_sensor tool_start]
switch_pin: EBBCan:PB6
pause_on_runout: False



